.makers {
	overflow: hidden;
	background: -o-linear-gradient(46.91deg, #17325A 9.72%, #1C569B 59.95%);
	background: linear-gradient(43.09deg, #17325A 9.72%, #1C569B 59.95%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 425px;
}

.makers__img {
	position: absolute;
	right: 0;
	top: 0;
	width: 932px;
}

.makers__cont {
	max-width: 790px;
}

.makers__subtext {
	font-weight: 500;
	letter-spacing: -0.01em;
}

.makers__subtext b {
	font-weight: 800;
	color: #FD7930;
}

@media only screen and (max-width: 1599px) {
	.makers__img {
		right: auto;
		left: 50%;
	}

	.makers__cont {
		max-width: 640px;
	}
}

@media only screen and (max-width: 1279px) {
	.makers__img {
		left: calc(50% + 100px);
	}
}

@media only screen and (max-width: 767px) {
	.makers__img {
		display: none;
	}
}