.revs__bg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.revs__bg img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.revs-tabs {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	z-index: 3;
}

.revs-tabs__item {
	min-height: 28px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.revs-tabs__item:not(:last-child) {
	margin-right: 27px;
	padding-right: 27px;
	border-right: #1C3C70 solid 1px;
}

.revs-tabs__link {
	display: block;
	font-size: 22px;
	line-height: 24px;
	color: #1C3C70;
	border-bottom: transparent solid 2px;
	cursor: pointer;
	-webkit-transition: color 0.2s, border 0.2s;
	-o-transition: color 0.2s, border 0.2s;
	transition: color 0.2s, border 0.2s;
}

html.no-touch .revs-tabs__link:hover {
	border-color: #1C3C70;
	text-decoration: none;
}

.revs-tabs__item.active .revs-tabs__link {
	color: #FE8836;
	border-color: transparent;
	pointer-events: none;
}

.revs-slide[data-revs="2019"],
.revs-slide[data-revs="2020"] {
	padding-top: 10px;
}

.revs-slide-inner {
	margin: 0 auto;
}

.revs-slide-inner--2020 {
	max-width: 1300px;
}

.revs-slide-inner--2021 {
	max-width: 1330px;
}

.revs-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.revs-col {
	padding: 0 15px;
	position: relative;
}

.revs-col--f {
	width: 100%;
}

.revs-col--1-1 {
	width: 544px;
	padding-left: 56px;
	padding-top: 29px;
}

.revs-col--1-2 {
	width: 360px;
	padding-top: 42px;
}

.revs-col--1-3 {
	width: 110px;
	padding-top: 46px;
}

.revs-col--1-4 {
	width: 272px;
	padding-top: 42px;
}

.revs-col--1-5 {
	width: 446px;
	padding-top: 90px;
}

.revs-col--1-6 {
	width: 380px;
}

.revs-col--1-7 {
	width: 547px;
	padding-right: 31px;
	padding-bottom: 30px;
}

.revs-col--2-1 {
	width: 420px;
	padding-top: 31px;
	margin-left: 80px;
	margin-right: 60px;
}

.revs-col--2-2 {
	width: 551px;
	padding-left: 83px;
	padding-top: 30px;
}

.revs-col--2-3 {
	width: 165px;
	padding-top: 26px;
}

.revs-col--2-4 {
	width: 469px;
	padding-right: 28px;
	padding-bottom: 33px;
	padding-top: 21px;
}

.revs-col--2-5 {
	width: 151px;
	padding-top: 26px;
}

.revs-col--2-6 {
	width: 461px;
	padding-top: 53px;
	margin-right: 10px;
}

.revs-col--3-1 {
	width: 370px;
	padding-top: 40px;
}

.revs-col--3-2 {
	width: 515px;
	padding-top: 30px;
	padding-left: 77px;
}

.revs-col--3-3 {
	width: 330px;
	padding-top: 45px;
	margin-right: 95px;
}

.revs-col--3-4 {
	width: 145px;
	margin-top: -45px;
	margin-left: 15px;
}

.revs-col--3-5 {
	width: 590px;
	padding-top: 62px;
	margin-right: 60px;
	margin-left: 30px;
}

.revs-col--3-6 {
	width: 550px;
	padding-right: 82px;
	padding-bottom: 30px;
}

.revs-col--3-7 {
	width: 181px;
	padding-top: 40px;
}

.revs-col--3-8 {
	width: 149px;
	margin-left: -40px;
	margin-right: 20px;
	margin-top: -155px;
}

.revs-rev {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	-webkit-box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
	box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
}

.revs-rev-left {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.revs-rev-right {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 5px 25px;
	font-size: 15px;
	line-height: 19px;
}

.revs-rev-name {
	color: #1C3C70;
	font-weight: 700;
}

.revs-rev-name span {
	font-weight: 400;
	color: #0097DD;
}

.revs-rev-pos {
	font-size: 13px;
	line-height: 22px;
	color: #BFBFBF;
}

.revs-rev-text {
	color: #585858;
	max-width: 300px;
	margin-top: 5px;
}

.revs-rev--s1 {
	height: 118px;
}

.revs-rev--s1 .revs-rev-left {
	width: 118px;
}

.revs-rev--s2 {
	height: 137px;
}

.revs-rev--s2 .revs-rev-left {
	width: 137px;
}

.revs-rev--s3 {
	height: 97px;
}

.revs-rev--s3 .revs-rev-left {
	width: 97px;
}

.revs-quote {
	text-align: center;
}

.revs-quote-text {
	font-size: 20px;
	line-height: 26px;
	color: #1C3C70;
	font-style: italic;
	font-weight: 400;
}

.revs-quote-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.revs-quote-cont--2-6 {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.revs-quote-img {
	width: 70px;
}

.revs-quote-img--3-3 {
	position: absolute;
	right: -100px;
	top: 250px;
}

.revs-quote-img--3-5 {
	width: 163px;
	padding-bottom: 10px;
}

.revs-quote--2-1 {
	width: 277px;
}

.revs-quote--2-6 {
	width: 290px;
}

.revs-quote--3-5 {
	width: 330px;
}

.revs-qu {
	position: absolute;
	width: 82px;
}

.revs-qu__inner {
	width: 100%;
	height: 0;
	padding-bottom: 74.4%;
	position: relative;
}

.revs-qu__inner svg {
	position: absolute;
	left: 0;
	top: 0;
}

.revs-qu--s2 {
	width: 61px;
}

.revs-qu--o {
	left: 15px;
	top: 0;
}

.revs-qu--c {
	right: 15px;
	bottom: 0;
}

.revs-stars {
	width: 100%;
	max-width: 997px;
	margin: 0 auto;
	pointer-events: none;
}

.revs-stars img:nth-child(2) {
	display: none;
}

.revs-stars__inner {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 13.54%;
}

.revs-stars__inner svg {
	position: absolute;
	left: 0;
	top: 0;
}

.revs-stars--1 {
	margin-top: -26px;
	margin-bottom: -58px;
}

.revs-stars--2 {
	margin-top: -16px;
	margin-bottom: -36px;
}

.revs-stars--3 {
	margin-top: -50px;
	margin-bottom: -22px;
	z-index: 1;
	position: relative;
}

.revs-award--1-6 {
	width: 146px;
}

.rev {
	position: relative;
}

.rev--2022 {
	height: 442px;
	max-width: 1380px;
	margin: 0 auto;
}

.rev__item {
	position: absolute;
}

.rev__item:after {
	content: "";
	position: absolute;
	background-size: cover;
	background-position: center;
}

.rev__item--q-l {
	padding-left: 102px;
}

.rev__item--q-l:after {
	left: 0;
	width: 122px;
	height: 91px;
	background-image: url("data:image/svg+xml,%3Csvg width='122' height='91' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 2H89.432L65.908 36.956l-.016.022V89h52.961V36.956h-23.37l23.37-34.712L119 2Z' stroke='%23FE8836' stroke-width='3'/%3E%3Cpath d='M55.116 2H25.547L2.017 36.956 2 36.978V89h52.96V36.956H31.592l23.37-34.712.155-.244Z' stroke='%23FE8836' stroke-width='3'/%3E%3C/svg%3E");
}

.rev__item--q-r {
	padding-right: 86px;
}

.rev__item--q-r:after {
	right: 0;
	width: 111px;
	height: 83px;
	background-image: url("data:image/svg+xml,%3Csvg width='111' height='83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.023 81h26.789l21.312-31.741.014-.021V2H3.157v47.259h21.172L3.157 80.779 3.023 81Z' stroke='%23FE8836' stroke-width='3'/%3E%3Cpath d='M60.902 81H87.69l21.319-31.741.014-.021V2h-47.98v47.259h21.171l-21.172 31.52-.14.221Z' stroke='%23FE8836' stroke-width='3'/%3E%3C/svg%3E");
}

.rev__item--q-t {
	padding-top: 52px;
}

.rev__item--q-t:after {
	top: 0;
}

.rev__item--q-b {
	padding-bottom: 43px;
}

.rev__item--q-b:after {
	bottom: 0;
}

.rev__item--2022-1 {
	width: 624px;
	left: 0;
	top: 0;
}

.rev__item--2022-2 {
	width: 100%;
	left: 0;
	top: 200px;
}

.rev__item--2022-3 {
	width: 581px;
	right: 0;
	top: 52px;
}

.rev__item--2022-4 {
	width: 100%;
	left: 0;
	bottom: 0;
}

.rev__item--2022-5 {
	left: -20px;
	bottom: 0;
}

.rev__item--2022-6 {
	right: -40px;
	top: -80px;
}

.rev__stars {
	max-width: 996px;
	margin: 0 auto;
}

.rev__quote--2022-4 {
	text-align: center;
	max-width: 1065px;
	margin: 0 auto;
}

.rev-video {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	-webkit-box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.752179px 4.90401px rgba(0, 0, 0, 0.0209473);
	box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.752179px 4.90401px rgba(0, 0, 0, 0.0209473);
}

.rev-video__left {
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.rev-video__left--l {
	width: 45.2%;
}

.rev-video__left--r {
	width: 47.5%;
}

.rev-video__img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.rev-video__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: bottom;
	object-position: bottom;
}

.rev-video__play {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 20px;
	background: -o-linear-gradient(359.87deg, #114170 34.93%, #007ABF 98.37%);
	background: linear-gradient(90.13deg, #114170 34.93%, #007ABF 98.37%);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	opacity: 0;
}

.rev-video__play-i {
	width: 39px;
	height: 39px;
	margin: 0 auto 5px;
}

.rev-video__play-t {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 11px;
	line-height: 23px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
}

.rev-video__right {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 34px 15px 20px;
	font-size: 15px;
	line-height: 18px;
	position: relative;
}

.rev-video__name {
	color: #1C3C70;
	margin-bottom: 6px;
}

.rev-video__name span {
	font-style: italic;
	color: #0097DD;
	font-size: 13px;
}

.rev-video__text {
	color: #585858;
	font-weight: 500;
}

.rev-video__top {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 10px 0 12px;
}

.rev-video__bar {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background: -o-linear-gradient(22.1deg, #FF492C 26.47%, #FAAA23 75.97%);
	background: linear-gradient(67.9deg, #FF492C 26.47%, #FAAA23 75.97%);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.rev-video__bar-l {
	width: 30px;
	position: absolute;
	right: 100%;
	top: 0;
}

.rev-video__stars {
	position: relative;
	width: 100px;
	height: 14px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14' style='enable-background:new 0 0 20 14' xml:space='preserve'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-miterlimit:10' d='m12.1 5 4.2.6-3 3-.1.1v.1L14 13l-3.8-2H10l-3.8 2 .6-4.2v-.1l-.1-.1-3-3L8 5h.1l.1-.1 1.9-3.7L12 4.9V5z'/%3E%3C/svg%3E") left top repeat-x;
	margin-bottom: 2px;
}

.rev-video__stars-fill {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14' style='enable-background:new 0 0 20 14' xml:space='preserve'%3E%3Cpath style='fill:%23fff;stroke:%23fff;stroke-miterlimit:10' d='m12.1 5 4.2.6-3 3-.1.1v.1L14 13l-3.8-2H10l-3.8 2 .6-4.2v-.1l-.1-.1-3-3L8 5h.1l.1-.1 1.9-3.7L12 4.9V5z'/%3E%3C/svg%3E") left top repeat-x;
}

.rev-video__watch {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.rev-video__watch-t {
	font-family: "Roboto";
	font-weight: 500;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 23px;
	color: #fff;
	margin-right: 9px;
}

.rev-video__watch-a {
	width: 26px;
	height: 8px;
	overflow: hidden;
	position: relative;
}

.rev-video__watch-a:before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("data:image/svg+xml,%3Csvg width='26' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.54 4.153a.5.5 0 0 0 0-.707L22.36.264a.5.5 0 1 0-.708.707l2.829 2.828-2.829 2.829a.5.5 0 1 0 .707.707l3.183-3.182ZM.17 4.299h25.017v-1H.17v1Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat right/cover;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
}

.rev-video__link {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.rev-video:hover .rev-video__watch-a:before {
	-webkit-transform: translate(0) !important;
	-ms-transform: translate(0) !important;
	transform: translate(0) !important;
}

.rev-video:hover .rev-video__bar {
	width: 162%;
}

.rev-video:hover .rev-video__play {
	opacity: 1;
}

.rev__inc {
	width: 160px;
}

.rev__inc2 {
	width: 123px;
}

.rev-descr {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #585858;
	max-width: 1170px;
	margin: 0 auto 34px;
}

@media only screen and (max-width: 1599px) {
	.revs-block {
		max-width: 1110px;
		margin: 0 auto;
	}

	.revs-col--1-2 {
		width: 240px;
	}

	.revs-col--1-4 {
		width: 240px;
	}

	.revs-col--1-5 {
		width: 280px;
	}

	.revs-col--1-6 {
		width: 176px;
	}

	.revs-col--2-1 {
		width: 400px;
		margin-right: 0;
		margin-left: 0;
	}

	.revs-col--3-1 {
		width: 210px;
		margin-left: 0;
		padding-top: 10px;
	}

	.revs-col--3-3 {
		width: 230px;
		padding-top: 30px;
		margin-right: 0;
	}

	.revs-col--3-4 {
		margin-top: -45px;
		margin-left: 0;
	}

	.revs-col--3-5 {
		width: 410px;
		margin-right: 20px;
		margin-left: 0;
	}

	.revs-col--3-7 {
		padding-top: 30px;
	}

	.revs-col--3-8 {
		margin-top: 20px;
	}

	.revs-quote--3-5 {
		width: 260px;
	}

	.revs-quote-img--3-3 {
		top: 90px;
		left: auto;
		right: 0;
	}

	.rev--2022 {
		height: 490px;
	}

	.rev__item--q-l {
		padding-left: 62px;
	}

	.rev__item--q-l:after {
		width: 81px;
		height: 61px;
	}

	.rev__item--q-r {
		padding-right: 67px;
	}

	.rev__item--q-r:after {
		width: 81px;
		height: 61px;
	}

	.rev__item--q-t {
		padding-top: 30px;
	}

	.rev__item--q-b {
		padding-bottom: 30px;
	}

	.rev__item--2022-1 {
		width: 560px;
	}

	.rev__item--2022-3 {
		width: 540px;
		top: 30px;
	}

	.rev__item--2022-5 {
		left: 0;
		bottom: -20px;
	}

	.rev__item--2022-6 {
		top: -100px;
		right: -20px;
	}

	.rev__inc {
		width: 150px;
	}

	.rev-descr {
		max-width: 800px;
	}
}

@media only screen and (max-width: 1279px) {
	.revs-col {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
	}

	.revs-col--1-2,
	.revs-col--1-4 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.revs-col--1-2 {
		margin-left: 80px;
		padding-top: 0;
		width: 360px;
	}

	.revs-col--1-4 {
		margin-right: 80px;
		padding-top: 27px;
		width: 272px;
	}

	.revs-col--1-3 {
		margin-right: 160px;
	}

	.revs-col--1-6 {
		width: 163px;
	}

	.revs-col--f1,
	.revs-col--1-1,
	.revs-col--1-3,
	.revs-col--1-7 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.revs-col--1-5 {
		margin-right: 90px;
		width: 446px;
	}

	.revs-col--1-7 {
		margin-left: 600px;
		margin-bottom: -75px;
	}

	.revs-col--1-6 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		margin-left: 160px;
	}

	.revs-col--1-2 {
		margin-left: 86px;
	}

	.revs-col--1-4 {
		margin-right: 0;
	}

	.revs-col--1-3 {
		margin-right: 75px;
		margin-top: -15px;
	}

	.revs-col--1-1 {
		margin-top: -35px;
	}

	.revs-col--1-7 {
		margin-left: 190px;
	}

	.revs-col--1-6 {
		margin-left: 17px;
	}

	.revs-col--1-5 {
		margin-right: 100px;
	}

	.revs-col--2-1 {
		width: 186px;
		padding-top: 0;
	}

	.revs-col--f2,
	.revs-col--2-1,
	.revs-col--2-2,
	.revs-col--2-4,
	.revs-col--2-5,
	.revs-col--2-6 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.revs-col--2-2 {
		margin-top: 20px;
	}

	.revs-col--2-5 {
		margin-top: -20px;
		margin-right: 90px;
	}

	.revs-col--2-6 {
		padding-top: 26px;
		width: 430px;
		margin-left: 36px;
	}

	.revs-col--2-3 {
		margin-top: -12px;
		padding-top: 0;
		margin-right: -20px;
	}

	.revs-col--3-1,
	.revs-col--3-2,
	.revs-col--3-7,
	.revs-col--3-3 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.revs-col--3-1 {
		width: 370px;
		margin-left: 245px;
	}

	.revs-col--3-2 {
		margin-top: -10px;
		margin-left: 20px;
	}

	.revs-col--3-3 {
		width: 100%;
		margin-left: 0;
		padding-top: 0;
		padding-right: 15px;
		margin-top: 30px;
	}

	.revs-col--f3 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.revs-col--3-4,
	.revs-col--3-6 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}

	.revs-col--3-4 {
		margin-top: 0;
		padding-top: 40px;
		margin-left: 15px;
	}

	.revs-col--3-6 {
		width: 550px;
	}

	.revs-col--3-5 {
		padding-top: 14px;
		width: 410px;
		margin-left: 90px;
	}

	.revs-col--3-7 {
		padding-top: 100px;
		margin-right: 20px;
	}

	.revs-col--3-8 {
		width: 112px;
		margin-right: 130px;
		margin-top: 2px;
	}

	.revs-stars {
		max-width: 710px;
	}

	.revs-stars--1 {
		margin-bottom: -20px;
	}

	.revs-stars--3 {
		margin-top: 20px;
		margin-bottom: -15px;
	}

	.revs-quote--1-4 {
		text-align: right;
	}

	.revs-quote--3-5 {
		text-align: left;
		width: 160px;
	}

	.revs-quote-img--2-1 {
		position: absolute;
		right: 0;
		top: 125px;
	}

	.revs-quote-img--3-3 {
		right: 35px;
		top: -150px;
	}

	.revs-quote-cont--2-6 {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.revs-award--1-6 {
		width: 100%;
	}

	.revs-stars--1 {
		margin-top: -10px;
	}

	.revs-stars--2 {
		margin-top: 50px;
		margin-bottom: -30px;
	}

	.rev--2022 {
		height: 650px;
	}

	.rev__item--2022-1 {
		width: 600px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.rev__item--2022-2 {
		top: 180px;
	}

	.rev__item--2022-3 {
		width: 600px;
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 295px;
	}

	.rev__item--2022-5 {
		bottom: 60px;
	}

	.rev__item--2022-6 {
		top: auto;
		bottom: 0;
		right: 0;
	}

	.rev__inc {
		width: 130px;
	}

	.rev-descr {
		font-size: 16px;
		line-height: 24px;
	}
}

@media only screen and (max-width: 767px) {
	.revs {
		padding: 30px 0 25px 0;
	}

	.revs-tabs {
		margin-top: 20px;
	}

	.revs-tabs__item {
		min-height: 24px;
	}

	.revs-tabs__item:not(:last-child) {
		margin-right: 17px;
		padding-right: 17px;
	}

	.revs-tabs__link {
		display: block;
		font-size: 14px;
		line-height: 14px;
		border-width: 1px;
	}

	.revs-row {
		position: relative;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: -40px;
	}

	.revs-qu {
		width: 49px;
	}

	.revs-qu--c {
		right: 15px;
		bottom: -17px;
	}

	.revs-rev {
		height: 85px;
	}

	.revs-rev-left {
		width: 85px !important;
	}

	.revs-rev-right {
		padding: 5px 5px 5px 15px;
	}

	.revs-rev-name {
		font-size: 10px;
		line-height: 12px;
	}

	.revs-rev-pos {
		font-size: 9px;
		line-height: 14px;
	}

	.revs-rev-text {
		font-size: 9px;
		line-height: 11px;
	}

	.revs-slide {
		padding-top: 0 !important;
	}

	.revs-row {
		margin-left: -10px;
		margin-right: -10px;
	}

	.revs-col {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
		width: 100%;
		margin: 0 0 30px 0;
		padding: 0 10px;
	}

	.revs-col--f {
		top: 97px;
		left: 0;
		position: absolute;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		z-index: 1;
	}

	.revs-col--1-1,
	.revs-col--2-2,
	.revs-col--3-2 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-bottom: 48px;
		padding-top: 30px;
		padding-left: 23px;
	}

	.revs-col--1-2,
	.revs-col--1-4,
	.revs-col--1-5,
	.revs-col--2-1,
	.revs-col--2-6,
	.revs-col--3-3,
	.revs-col--3-5 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.revs-col--1-7,
	.revs-col--2-4,
	.revs-col--3-1,
	.revs-col--3-6 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		padding-right: 23px;
	}

	.revs-col--1-3 {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5;
	}

	.revs-col--1-6 {
		width: 115px;
	}

	.revs-col--1-3 {
		width: 84px;
	}

	.revs-col--2-3 {
		width: 128px;
	}

	.revs-col--2-5 {
		width: 91px;
	}

	.revs-col--2-1 {
		padding-top: 10px;
	}

	.revs-col--2-1,
	.revs-col--2-6 {
		margin-bottom: 40px;
	}

	.revs-col--3-4 {
		width: 117px;
	}

	.revs-col--3-7 {
		width: 111px;
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5;
	}

	.revs-col--3-8 {
		width: 106px;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}

	.revs-quote {
		text-align: left;
		margin: 0;
		padding: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: auto;
	}

	.revs-quote-text {
		font-size: 16px;
		line-height: 20px;
	}

	.revs-quote-cont {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.revs-quote-img {
		width: 60px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-right: 20px;
		position: static;
	}

	.revs-stars {
		margin: 0;
	}

	.rev {
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: -35px;
	}

	.rev__item {
		position: relative;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		width: 100%;
		margin-bottom: 35px;
	}

	.rev__item--q-l {
		padding-left: 11px;
	}

	.rev__item--q-l:after {
		width: 49px;
		height: 37px;
	}

	.rev__item--q-r {
		padding-right: 11px;
	}

	.rev__item--q-r:after {
		width: 49px;
		height: 37px;
	}

	.rev__item--2022-5 {
		width: 130px;
		padding: 0 10px;
	}

	.rev__item--2022-6 {
		width: 140px;
		padding: 0 10px;
	}

	.rev-video__left--l {
		width: 140px;
	}

	.rev-video__left--r {
		width: 147px;
	}

	.rev-video__right {
		padding: 20px 9px 9px 9px;
	}

	.rev-video__name {
		font-size: 10px;
		line-height: 11px;
	}

	.rev-video__name span {
		font-size: 9px;
	}

	.rev-video__text {
		font-size: 9px;
		line-height: 11px;
	}

	.rev-video__top {
		height: 14px;
		padding: 0 7px;
	}

	.rev-video__stars {
		width: 55px;
		height: 8px;
		margin-bottom: 0;
	}

	.rev-video__bar-l {
		width: 18px;
	}

	.rev-video__watch-t {
		font-size: 8px;
		line-height: 8px;
		margin-right: 3px;
	}

	.rev-video__watch-a {
		width: 15px;
	}

	.rev-video__watch-a:before {
		-webkit-transform: translateX(-5px);
		-ms-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	.rev-video__play {
		padding-top: 10px;
	}

	.rev-video__play-i {
		width: 24px;
		margin-bottom: 10px;
	}

	.rev-video__play-t {
		font-size: 10px;
		line-height: 10px;
	}

	.rev__inc,
	.rev__inc2 {
		width: 100%;
	}
}

@media only screen and (max-width: 1599px) and (min-width: 1280px) {
	.revs-col--3-1 {
		margin-left: 100px;
	}

	.revs-col--3-3 {
		margin-right: 70px;
	}

	.revs-col--3-4 {
		margin-top: -85px;
	}

	.revs-col--3-8 {
		margin-right: 0;
	}

	.revs-stars--3 {
		margin-top: -10px;
		margin-bottom: -10px;
	}

	.revs-quote-img--3-3 {
		right: -70px;
		top: 80px;
	}
}

@media only screen and (max-width: 1599px) and (min-width: 768px) {
	.rev__item--2022-4 {
		padding: 0 180px;
	}
}