.solutions {
	counter-reset: sols-count;
}

.solutions__subtext {
	max-width: 550px;
	padding-top: 30px;
}

.solutions__sec--f {
	background: -o-linear-gradient(359.87deg, #114170 34.93%, #007ABF 98.37%);
	background: linear-gradient(90.13deg, #114170 34.93%, #007ABF 98.37%);
	color: #fff;
}

.solutions__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.solutions__col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	--sic: #1C3C70;
	--sil: #FE8836;
	padding: 100px 20px;
	width: 25%;
}

.solutions__col:before,
.solutions__col:after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #e2f1f7;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
	opacity: 0;
}

.solutions__col:after {
	content: "";
}

.solutions__col--c0:before,
.solutions__col--c0:after {
	content: none;
}

.solutions__col--c2 {
	--sic: #fff;
}

.solutions__col--c2:after {
	background: -o-linear-gradient(234.87deg, #3ecedd -38.87%, #005eab 79.25%);
	background: linear-gradient(215.13deg, #3ecedd -38.87%, #005eab 79.25%);
}

.solutions__col--c3 {
	--sic: #fff;
	--sil: #fff;
}

.solutions__col--c3:before {
	top: -25px;
	opacity: 1;
	content: "";
	background: -o-linear-gradient(34.29deg, #EE3124 -9.11%, #FAAA23 98.47%);
	background: linear-gradient(55.71deg, #EE3124 -9.11%, #FAAA23 98.47%);
}

.solutions__col--c3:after {
	top: -25px;
	content: "";
	background: -o-linear-gradient(34.29deg, #EE3124 70%, #FAAA23 120%);
	background: linear-gradient(55.71deg, #EE3124 70%, #FAAA23 120%);
}

.solutions__col--l:before,
.solutions__col--l:after {
	left: calc(var(--inOff) * -1);
}

.solutions__col--r:before,
.solutions__col--r:after {
	right: calc(var(--inOff) * -1);
}

.solutions__col--w1 {
	width: 50%;
	padding-top: 70px;
	padding-bottom: 70px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 530px;
}

html.no-touch .solutions__col:hover:after {
	opacity: 1;
}

.solutions__item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	counter-increment: sols-count;
	color: var(--sic);
	position: relative;
	z-index: 1;
}

.solutions__item-top {
	position: relative;
	font-weight: 700;
	font-size: 24px;
	line-height: 1em;
	margin-bottom: 25px;
	cursor: pointer;
}

.solutions__item-top:before {
	font-family: "Roboto", sans-serif;
	content: "0"counter(sols-count);
	display: block;
	margin-bottom: 15px;
}

.solutions__item-top:after {
	content: "";
	display: block;
	width: 25px;
	height: 5px;
	background: var(--sil);
}

.solutions__item-ttl {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	max-width: 300px;
}

.solutions__item-ttl--w2 {
	max-width: none;
}

.solutions__item-ttl--w3 {
	max-width: 280px;
}

.solutions__item-ttl--w4 {
	max-width: 248px;
}

.solutions__item-text {
	max-width: 270px;
	font-size: 18px;
	line-height: 1.25em;
	margin-top: 30px;
}

.solutions__item-text--w2 {
	max-width: 239px;
}

.solutions__item-text--w3 {
	max-width: 300px;
}

.solutions__item-text--w4 {
	max-width: 280px;
}

.solutions__item-text--w5 {
	max-width: 300px;
}

@media only screen and (min-width: 768px) {
	.solutions {
		padding: 0;
	}

	.solutions__bold span {
		display: block;
		font-weight: 200;
		margin-bottom: 20px;
		font-size: 60px;
		text-transform: none;
	}

	.solutions__item-top {
		pointer-events: none;
	}

	.solutions__item-text {
		display: block !important;
	}
}

@media only screen and (min-width: 1400px) {
	.solutions__col--w2 {
		width: calc(25% - 15px);
	}

	.solutions__col--w3 {
		width: calc(25% + 15px);
		padding-left: 60px;
	}
}

@media only screen and (max-width: 1399px) {
	.solutions__col {
		padding: 60px 20px;
	}

	.solutions__col--w1 {
		min-height: auto;
	}
}

@media only screen and (max-width: 1279px) {
	.solutions__sec {
		padding: 70px 0;
	}

	.solutions__row {
		margin: 0 -20px -70px;
	}

	.solutions__col {
		width: 50%;
		padding: 0 20px;
		margin-bottom: 70px;
	}

	.solutions__col--w1 {
		width: 100%;
	}

	.solutions__col:before,
	.solutions__col:after {
		content: none;
	}

	.solutions__col--c3:before {
		content: "";
		top: -40px;
		bottom: -70px;
	}
}

@media only screen and (max-width: 767px) {
	.solutions {
		background: -o-linear-gradient(359.87deg, #114170 34.93%, #007ABF 98.37%);
		background: linear-gradient(90.13deg, #114170 34.93%, #007ABF 98.37%);
		color: #fff;
		padding-bottom: 0;
	}

	.solutions__sec {
		padding: 0;
		background: none;
	}

	.solutions__row {
		margin: 0;
	}

	.solutions__col {
		padding: 0;
		width: 100%;
		margin-bottom: 20px;
	}

	.solutions__col--c3 {
		padding: 30px 0 40px;
		margin: 0;
	}

	.solutions__col--c3:before {
		left: calc(var(--inOff) * -1);
		top: 0;
		bottom: 0;
	}

	.solutions__item-top {
		margin-bottom: 18px;
		height: 36px;
		border-bottom: var(--sil) solid 2px;
	}

	.solutions__item-top:before {
		color: #fff;
		font-size: 18px;
		line-height: 36px;
	}

	.solutions__item-top:after {
		position: absolute;
		left: auto;
		bottom: auto;
		right: 0;
		top: 50%;
		margin-top: -3px;
		width: 12px;
		height: 7px;
		background: url("data:image/svg+xml,%3Csvg width='12' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.59 0 6 3.738 1.41 0 0 1.15l6 4.897 6-4.896L10.59 0Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

	.solutions__item-ttl {
		color: #fff;
		font-size: 21px;
		line-height: 24px;
	}

	.solutions__item-text {
		color: #fff;
		margin-top: 15px;
	}

	.solutions__item-text .ui-inline-arrow {
		--uiaC: #fff !important;
	}

	.solutions__col.active .solutions__item-top:after {
		-webkit-transform: scaleY(-1);
		-ms-transform: scaleY(-1);
		transform: scaleY(-1);
		margin-top: -5px;
	}
}

@media only screen and (max-width: 1535px) and (min-width: 768px) {
	.solutions__bold span {
		font-size: 54px;
		margin-bottom: 10px;
	}
}