		<footer class="footer">
			<div class="inner">
				<div class="footer__block">
					<div class="footer__left">
						<div class="footer__logo">
							<a class="footer__logo-link" href="@@webRoot/">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
							</a>
						</div>
						<div class="footer__contacts">
							<div class="footer__contacts-item footer__contacts-item--e">
								<div class="footer__contacts-email">
									<a class="ui-link ui-link--1" href="mailto:info@infusemedia.com" target="_blank">info@infusemedia.com</a>
								</div>
							</div>
							<div class="footer__contacts-item footer__contacts-item--s">
								<div class="ui-socials">
									<a class="ui-socials__item" href="https://www.linkedin.com/company/infusemedia" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc-in"></use></svg>
									</a>
									<a class="ui-socials__item" href="https://twitter.com/INFUSEmedia_" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc-tw"></use></svg>
									</a>
									<a class="ui-socials__item" href="https://www.facebook.com/INFUSEmedia-101448008894333" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc-fb"></use></svg>
									</a>
									<a class="ui-socials__item" href="https://www.instagram.com/infusemedia_us/" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc-ig"></use></svg>
									</a>
									<a class="ui-socials__item" href="https://www.youtube.com/channel/UC3Joueq-YwNjr2GpuJqHVJA" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc-yt"></use></svg>
									</a>
									<a class="ui-socials__item ui-socials__item--g" href="https://www.glassdoor.com/Reviews/INFUSEmedia-Reviews-E1587687.htm" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc-gd"></use></svg>
									</a>
								</div>
							</div>
							<div class="footer__contacts-item footer__contacts-item--a">
								<div class="footer__contacts-address">
									<p>
										<a class="ui-link ui-link--1" href="tel:6174594500" target="_blank">(617) 459-4500</a>
									</p>
									<p>
										2385 NW Executive Center Drive, Suite 100<br />
										Boca Raton, FL 33431
									</p>
								</div>
							</div>
							<div class="footer__contacts-item footer__contacts-item--l">
								<div class="footer__badges">
									<a class="footer__badges-item" href="https://www.g2.com/products/infusemedia/reviews" target="_blank">
										<img src="images/footer-badge1.svg" alt="" />
									</a>
									<a class="footer__badges-item footer__badges-item--2" href="https://topworkplaces.com/company/infusemedia/" target="_blank">
										<img src="images/footer-badge2.svg" alt="" />
									</a>
									<a class="footer__badges-item" href="https://www.g2.com/products/infusemedia/reviews" target="_blank">
										<img src="images/footer-badge3.png" alt="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer__right">
						<div class="footer__right-row">
							<div class="footer__right-col footer__right-col--m">
								<div class="footer__menu">
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											What we do
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Who we serve
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Guides
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Join Us
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Audiences
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											About Us
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Insights
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Press
										</a>
									</div>
									<div class="footer__menu-item">
										<a class="footer__menu-link" href="javascript:void(0);">
											Contact
										</a>
									</div>
								</div>
							</div>
							<div class="footer__right-col footer__right-col--f">
								<div class="footer__form hbspt-form" id="footer-form" data-hbspt='{
									"portalId": 8007211,
									"formId": "75e544cc-4026-4091-9264-646822c74b08",
									"target": "#footer-form",
									"cssClass": "hs-form hs-form--footer"
								}'></div>
							</div>
							<div class="footer__right-col footer__right-col--a">
								<div class="footer__awards">
									<img src="images/footer-awards.svg" alt="" />
								</div>
							</div>
							<div class="footer__right-col footer__right-col--t">
								<div class="footer__texts">
									<div class="footer__texts-item footer__texts-item--1">
										<ul class="footer__links footer__links--1">
											<li class="footer__links-col">
												<a class="footer__links-item" href="https://infusemedia.com/privacy-policy-for-california-residents/" target="_blank">
													Privacy Notice for California Residents
												</a>
											</li>
											<li class="footer__links-col">
												<a class="footer__links-item" href="https://infusemedia.com/gdpr/" target="_blank">
													GDPR
												</a>
											</li>
											<li class="footer__links-col">
												<a class="footer__links-item" href="https://infusemedia.com/lgpd/" target="_blank">
													LGPD
												</a>
											</li>
											<li class="footer__links-col">
												<a class="footer__links-item" href="https://infusemedia.com/terms-and-conditions/" target="_blank">
													Terms & Conditions
												</a>
											</li>
										</ul>
									</div>
									<div class="footer__texts-item footer__texts-item--2">
										<ul class="footer__links footer__links--2">
											<li class="footer__links-col">
												<a class="footer__links-item" href="https://infusemedia.com/cookie-policy/" target="_blank">
													Cookie Policy (US)
												</a>
											</li>
											<li class="footer__links-col">
												<a class="footer__links-item" href="https://infusemedia.com/privacy-policy/" target="_blank">
													Privacy Policy
												</a>
											</li>
										</ul>
									</div>
									<div class="footer__texts-item footer__texts-item--3">
										© 2022 INFUSEmedia All Rights Reserved
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>